.text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 9px;
  border: 1px solid #e5e5e5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 50%;
  background: #ffffff;
  

-moz-box-shadow: rgba(0,0,0, .1) 0 0 8px;
-webkit-box-shadow: rgba(0,0,0, .1) 0 0 8px;
box-shadow: rgba(0,0,0, .1) 0 0 8px;

background: #ffffff;
background: -mox-linear-gradient(top, #ffffff, #eeeeee 1px, #ffffff 25px);
background: -webkit-gradient( linear, left top, left 25, from(#ffffff), color-stop(4%, #eeeeee), to(#ffffff));
}

.submit input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 9px 15px;
  width: 75px;
  cursor: pointer;
  background: #617798;
  border: 0;
  font-size: 14px;
  color: white;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

}
